@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700&display=swap');

* {
  font-family: 'Libre Baskerville', serif;
}
.main-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-top: 2rem;
}

.main-header__title {
  font-weight: bold;
  padding: 0;
  margin: 0;
}


.main-body {
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 1rem;
}

.main-body__canvas {
  flex-grow: 0;
  height: 100px;
  width: 300px;
}


.main-body__heading {
  width: 300px;
  text-align: left;
  margin-top: 1rem;
  font-size: 20px;
}

